In [6]:
## Importaion du library pandas et numpy
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
# Chargement des donn√©es
df = pd.read_csv("data/mlpro-classification-bank-churn-2025-publicleaderboard-2025-07-26T07_58_25.csv")
df.head()

,Rank,TeamId,TeamName,LastSubmissionDate,Score,SubmissionCount,TeamMemberUserNames
0,1,13306362,Loris benaitier,2025-03-09 21:33:33,0.66542,29,lorisbenaitier
1,2,13354333,Anto!ne,2025-03-28 10:04:46,0.66495,27,antoineams
2,3,13303994,Azerta,2025-03-13 22:56:29,0.66483,26,azerta
3,4,13300333,Anthony Flores,2025-03-02 18:59:49,0.66444,54,aflores
4,5,13894778,ChrisDLX,2025-06-10 17:39:21,0.66402,6,chrisdlx